@import url(http://fonts.googleapis.com/css?family=Roboto);

.home .search-form {

  .field {
    font-family: Roboto, sans-serif;
    position: relative;
    height: 86px;
    padding: 20px 0 8px 0;
  }

  .field-label {
    position: relative;
    margin: 0;
    padding-left: 8px;
    display: block;

    color:  #333;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;

    transform: translateY(28px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
  }

  .field-control {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px;

    line-height: 20px;
    font-family: Roboto;
    font-size: 16px;

    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
  }

  .field::after, .field::before{
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;

    background-color: @brand-info;
  }

  .field::after{
    background-color: @brand-primary;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  .has-label .field-label{
     transform: translateY(0) scale(0.75);
  }

  .is-focused .field-label{
     color: @brand-primary;
  }
  .field.is-focused::after{
     transform: scaleX(1);
  }

}

//
// Progress bars
// --------------------------------------------------

// Outer container
.gf_progressbar {
  overflow: hidden;
  height: @line-height-computed;
  margin-bottom: @line-height-computed;
  background-color: @progress-bg;
  border-radius: @progress-border-radius;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}

// Bar of progress
.gf_progressbar_percentage {
  float: left;
  width: 0%;
  height: 100%;
  font-size: @font-size-small;
  line-height: @line-height-computed;
  color: @progress-bar-color;
  text-align: center;
  background-color: @progress-bar-bg;
  .box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
  .transition(width .6s ease);
}

.button {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
  
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);

}

.price, .gform_wrapper span.ginput_total {
  color: @brand-primary!important;
}
.woocommerce div.product form.cart .button {
  float: right;
  background-color: #fff;
  border: solid 1px @gray-light;
  &:hover, &:focus {
    border-color: @brand-primary;
    color: @brand-primary;
  }
  &.single_add_to_cart_button {
    border: none;
    background-color: @brand-primary;
    color: #fff;
    &:hover, &:focus {
      background-color: darken(@brand-primary, 15%);
    }
  }
}
.woocommerce a.button.alt, .woocommerce input.button.alt{
    border: none;
    background-color: @brand-primary;
    color: #fff;
    &:hover, &:focus {
      background-color: darken(@brand-primary, 15%);
    }
  }

.product_meta {
  display: none;
}

.gform_page_footer {
  overflow: hidden;
}

