.navbar-nav {
	li a:before {
		.fa-icon();
	}
	.menu-accueil a:before {
		content: "\f015\00a0";
	}
	.menu-snmkr a:before {
		content: "\f07c\00a0";
	}
	.menu-profession a:before {
		content: "\f19d\00a0";
	}
	.menu-textes a:before {
		content: "\f0e3\00a0";
	}
	.menu-espace-kine a:before {
		content: "\f0c0\00a0";
	}
	.menu-contact a:before {
		content: "\f0e0\00a0";
	}
}