.home {
	
	.header {
		min-height: 100vh;
		padding-bottom: 100px;
		position: relative;		

		.edito {

			position: relative;
			display: inline-block;
			max-width: 400px;
			margin: @grid-gutter-width 0;
			
			hr {
				.opacity(0.2);
			}
			
			&:before {
				.fa-icon();
				content: @fa-var-quote-left;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 5em;
				z-index: 0;
				color: #fff;
				.opacity(0.2);
			}

			div {
				position: relative;
				z-index: 10;
				padding-top: 20px;
				padding-left: 30px;
				font-size: 1.2em;
			}
		}

		.chevron {
			text-align: center;
			font-size: 4em;
			a {
				color: #fff;
				.opacity(0.2);
				&:hover, &:focus {
					.opacity(1);
				}
			}
		}
	}

	.actualites {
		background: #fff url('../images/bg.png');
	}

	.videos {
		background: #eee;
	}

	.widgets {
		background: rgba(185,183,190, 0.9);
		border-top: 1px solid rgba(0,0,0,0.1);
		.widget {
			.make-md-column(4);
		}
	}


	.navigation {
		font-size: @font-size-large;
		background: rgba(255,255,255,0.8);
		text-align: center;
		position: relative;
		z-index: 20;
		margin-top: -100px;
		min-height: 100px;
		ul {
			
			display: inline-block;
			margin-bottom: 0;
			li {
				margin: @grid-gutter-width (@grid-gutter-width / 2);
				margin-bottom: 0;
				a {
					padding: 0;
				}
			}
		}

		.accueil {
			display: none;
		}
	}

	.callactions {
		background: #fff;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}


}