.contenu {
	.make-sm-column(@grid-columns);

	.withmenu & {
		.make-sm-column(@grid-columns - @menu-sm-columns);
		.make-sm-column-pull(@menu-sm-columns);
	}
}

.page-header, .page-header h1 {
	margin-top: 0;
}

.menu-col {
	.make-sm-column(@menu-sm-columns);
	.make-sm-column-push(@grid-columns - @menu-sm-columns);
}

.subpage {
	margin-bottom: 4em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

.submenu {
	margin: 3px 0 0 1em;
	font-size: 0.9em;
}

.submenu-link {
	&:after {
		.fa-icon();
		content: '\00a0\f0d8';
	}
	&.collapsed:after {
		content: '\00a0\f0d7';
		
	}

}

.menu .panel {
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.woocommerce-page div.product div.summary {
	float: none;
	width: 100%;
}