.sidebar {
	background: #eee;
	padding: @grid-gutter-width 0;
	border-top: solid 1px rgba(0,0,0,0.1);
	.sidebar-primary & {
		background: transparent;
		padding: 0;
		border-top: none;
	}

}

.acces {

	ul {
		margin-bottom: 0;
	}
	
	a {
		display: block;
		margin-bottom: 4px;
		text-align: center;
		color: @gray-dark;
		text-align: center;
		img {
			max-width: 40px;
			margin-bottom: 0;
			.border-top-radius(@border-radius-base);
			.border-bottom-radius(@border-radius-base); 

		}
		
		span {
		display: block;
		font-size: 0.8em;
		font-family: @headings-font-family;
		}

		&:hover, &:focus {
			text-decoration: none;
			color: @brand-primary;
			img {
				.box-shadow(none);
			}
		}

	}

}
