body {
	position: relative;
	background-image: url('../images/bg.png');
}

.wrap {
	padding-top: @grid-gutter-width / 2;
	
}

hr {
	margin: (@grid-gutter-width / 2) 0;
}

.jumbotron, .well {
	border: solid 1px #e4e4e4;
	padding: 1em;
	background: #ffF;
	img {
		max-width: 100px;
	}
}

.reseaux {
	font-size: 1.5em;
}

.main {
	margin-bottom: @grid-gutter-width;
}

.jumbotron h2 {
	margin-top: 0;
}
