body {
	position: relative;
	
	background: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	border-top: solid 8px @brand-primary;
}

.wrap {
	padding-top: @grid-gutter-width / 2;
	background-image: url('../images/bg.png');
	
}

.section {
	padding :@grid-gutter-width 0;
}

hr {
	margin: (@grid-gutter-width / 2) 0;
}

.jumbotron, .well {
	border: solid 1px #e4e4e4;
	padding: 1em;
	background: #fff;
	img {
		max-width: 100px;
	}
}

.reseaux {
	font-size: 1.5em;
}

.main {
	margin-bottom: @grid-gutter-width;
	border-radius: @border-radius-base;
}

.main {
	padding: @grid-gutter-width;
	background: #fff;
 	border: 1px solid #e4e4e4;
}

.jumbotron h2 {
	margin-top: 0;
}

.banner {
	border: solid 1px #e4e4e4;
	background: @brand-primary;
	color: #fff;
	.border-top-radius(@border-radius-base);
	.border-bottom-radius(@border-radius-base); 
}

.baseline {	
	padding: 4px;
	margin: 0;
}

.widget {
	margin-bottom: 1em;
}